URL_TRANSFER_API=https://bujpvq1s7k.execute-api.us-west-2.amazonaws.com/staging/
URL_CLIENTS_API=https://he9n83rsg0.execute-api.us-west-2.amazonaws.com/staging
URL_REMITTANCE_API=https://g40vt3c57i.execute-api.us-west-2.amazonaws.com/staging
URL_AFEX_SERVICES=https://bfgbe4k130.execute-api.us-west-2.amazonaws.com/staging/
URL_PRICING_API=https://q2irckam81.execute-api.us-west-2.amazonaws.com/staging
BASE_URL=http://localhost:3000/


#Auth

API_AUTH_TOKEN=

# Slack
SLACK_WEBHOOK_URL=
REPORT_PORT=4040      # Puerto donde se sirve el reporte
